<div class="search-form">
    <form ng-submit="search()">
        <input ng-model="searchTerms" type="text" placeholder="Search .." class="search-input">
        <input type="submit" value="Search" class="search-submit">
    </form>
</div>
<section class="results">
    <h1 class="search-title">
        Results for <strong>{{results.searchTerms}}</strong> ({{results.documentsCount}})
    </h1>
    <p ng-if="noResults">No results were found for your search</p>

    <ul>
        <li ng-repeat="movie in results.documents">
            <strong ng-bind-html="movie.title"></strong>
            <p ng-bind-html="movie.director"></p>
        </li>
    </ul>

    <button ng-click="getNextPage()" ng-if="canGetNextPage" class="btn btn-default">Load more results</button>
    <div class="throbber-loader" ng-if="isSearching">
        SEARCHING &hellip;
    </div>
</section>
